/* Cryptocurrency */

@media (width > 640px) {
  .cryptocurrency {
    padding-bottom: 138px;

    background-image: linear-gradient(to top, var(--color-blue) 74%, transparent 74%, transparent 100%);
  }
}

/* About */

@media (width <= 640px) {
  .cryptocurrency__about {
    margin-bottom: 48px;
  }
}

@media (width > 640px) {
  .cryptocurrency__about {
    margin-bottom: 143px;
    padding-top: 86px;
    padding-bottom: 105px;
    padding-left: 103px;

    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 20px 40px var(--color-alto-25a);
  }
}

/* Title */

.cryptocurrency__title {
  margin: 0;

  line-height: 1.25;
}

@media (width <= 640px) {
  .cryptocurrency__title {
    margin-bottom: 40px;

    font-size: 36px;
  }
}

@media (width > 640px) {
  .cryptocurrency__title {
    max-width: 760px;
    margin-bottom: 65px;

    font-size: 48px;
  }
}

/* Payment */

.cryptocurrency__payment {
  background-color: transparent;
  background-image: url("../../images/cryptocurrency/payment.svg");
  background-repeat: no-repeat;
}

@media (width <= 640px) {
  .cryptocurrency__payment {
    margin-bottom: 32px;
    padding-top: 176px;

    background-size: 280px auto;
    background-position: center top;
  }
}

@media (width > 640px) {
  .cryptocurrency__payment {
    margin-bottom: 37px;
    padding-top: 50px;
    padding-right: 82px;
    padding-bottom: 36px;
    padding-left: 603px;

    background-position: left center;
    background-size: auto 100%;
  }
}

/* Paragraph */

.cryptocurrency__paragraph {
  margin: 0;

  font-weight: 700;
  line-height: 1.5;
}
.cryptocurrency__paragraph:last-child {
  margin-bottom: 0;
}

@media (width <= 640px) {
  .cryptocurrency__paragraph {
    margin-bottom: 24px;

    font-size: 18px;
  }
}

@media (width > 640px) {
  .cryptocurrency__paragraph {
    margin-bottom: 49px;

    font-size: 24px;
  }
}

/* Text */

.cryptocurrency__text {
  color: var(--color-grey);
}

@media (width <= 640px) {
  .cryptocurrency__text {
    font-size: 12px;
  }
}

@media (width > 640px) {
  .cryptocurrency__text {
    max-width: 700px;

    font-size: 16px;
  }
}

/* List */

.cryptocurrency__list {
  display: grid;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (width <= 640px) {
  .cryptocurrency__list {
    padding: 40px 20px;

    background-color: var(--color-blue);

    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 640px) {
  .cryptocurrency__list {
    column-gap: 234px;

    grid-template-columns: repeat(3, 166px);
    row-gap: 128px;
  }
}