/* Menu */

/* Button */

@media (width <= 640px) {
  .menu__button {
    display: block;
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none;
    border-radius: 0;
  }
}

@media (width > 640px) {
  .menu__button {
    display: none;
  }
}

/* Icon */

@media (width <= 640px) {
  .menu__icon {
    display: block;

    stroke: var(--color-haiti);
  }
  .menu__icon:hover {
    transition-timing-function: linear;
    transition-duration: 0.2s;
    transition-property: stroke;

    stroke: var(--color-pumpkin);
  }
  .menu__hamburger,
  .menu__button--open .menu__cross {
    display: block;
  }
  .menu__cross,
  .menu__button--open .menu__hamburger {
    display: none;
  }
}

/* List */

.menu__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (width <= 640px) {
  .menu__list {
    display: none;
  }
  .menu__list--open {
    position: absolute;
    top: 64px;
    left: 0;

    display: block;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 24px;

    text-align: center;

    background-color: var(--color-athens-grey);
    box-shadow: 0 20px 40px var(--color-alto-25a);
  }
}

@media (width > 640px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
}

/* Item */

@media (width <= 640px) {
  .menu__item {
    margin-bottom: 12px;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
  .menu__item--signin {
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

@media (width > 640px) {
  .menu__item {
    margin-right: 38px;
  }
  .menu__item:last-child {
    margin-right: 0;
  }
  .menu__item--signin {
    margin-right: 35px;
    margin-left: auto;
  }
}

/* Link */

.menu__link {
  line-height: 1.2;
  color: var(--color-trout);
  text-decoration: none;

  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: color;
}
.menu__link:hover {
  color: var(--color-pumpkin);
}
.menu__link--signin {
  padding: 0;

  font-size: inherit;
  font-family: inherit;
  color: var(--color-haiti);

  background-color: transparent;
  border: none;
  border-radius: 0;
}
.menu__link--signup {
  line-height: 1.2;
  color: var(--color-pumpkin);

  border-color: var(--color-pumpkin);

  transition-property: color, background-color;
}
.menu__link--signup:hover {
  color: var(--color-white);

  background-color: var(--color-pumpkin);
}

@media (width <= 640px) {
  .menu__link {
    font-size: 12px;
  }
  .menu__link--signup {
    min-width: 120px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media (width > 640px) {
  .menu__link {
    font-size: 16px;
  }
  .menu__link--signup {
    min-width: 147px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

